form{
			background-color: #c0c0c0;
			border-radius: 3px;
			color: #000000;
			font-size: 0.8em;
			padding: 20px;
			margin: 0 auto;
			width: 300px;
			placeholder { color: white; }
		}

		input, textarea{
			border: 0;
			outline: none;

			width: 260px;
		}

		.field{
			border: solid 1px #000000;
			padding: 10px;

			
		}

		.field:focus{
			border-color: #18A383;
		}

		.center-content{
			text-align: center;
		}
		#saltoLinea{
		display:none;}
		@media screen and (max-width: 1500px) and (orientation:portrait){
	
form{
			font-size: 2.2em;
			padding: 20px;
			margin: 0 auto;
			width: 500px;
			height: 1500px;
		
		}
		input{
		width:450px;
		}
.botonForm{
	width:450px; height:100px;margin: 0 auto;font-size:30 pt;align:center;
}
#saltoLinea{
		display: inline;}
/* input.value{ */
/* 	font-size:1.5em; */
/* } */
}